@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Usunięcie strzałek z input type="number" w formularzu */
.appearance-none::-webkit-inner-spin-button, 
.appearance-none::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.appearance-none {
    -moz-appearance: textfield;
}

/* Ustawienie domyślnego koloru tła body (dla spójności) */
body {
    background-color: #f8f9fa; 
}
